h3 {
    font-size: 30px;
    text-align: right;
    color: red;
}

.nav {
    /*COMMENT*/
    list-style-type: none;
    text-align: center;
    background-color: rgb(247, 44, 179);
}

.nav li {
    /*COMMENT*/
    display: inline-block;
    padding: 20px;
    font-size: 20px;

}

.bgcolor {
    background-color: greenyellow;
}

#bgurl {
    text-align: center;
    
    background-repeat: no-repeat;
    opacity: 0.6;
   
}
#bgurl:hover {
    opacity: 1;
}
#bgurl img {
    width: 300px;
    height: auto;
    object-fit: contain;
    border-radius: 50%;
}
#hover {
    width: 100px;
    height: 100px;
    background-color: crimson;
    transition: width 2s;
    float: left;
}
#hover:hover {
    width: 300px;
    background-color: chartreuse;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {

    display: none;
    position: absolute;
    background-color: white;
    z-index: 1;
}
.dropdown:hover .dropdown-content {
    display: block;
}
#text1{
    
    background-color:darksalmon;
    border: 5px solid black;
    padding: 20px;
    margin: 20px;
    text-align: justify;
    text-indent: 50px;
    
    
}
#text2{
    float:left;
    background-color:rgb(131, 233, 122);
    border: 5px solid black;
    padding: 20px;
    margin:10px ;
    text-align: justify;
    text-indent: 50px;
    width: 300px;
    height: 200px;
    
}



